name: SPM Cache

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - name: Set Xcode version
        run: sudo xcode-select -switch /Applications/Xcode_15.2.0.app
      # - uses: actions/cache@v3
      #   name: "Cache: SPM"
      #   with:
      #     path: ~/Library/Developer/Xcode/DerivedData/TestApp*/SourcePackages/
      #     key: ${{ runner.os }}-spm-${{ hashFiles('TestApp.xcworkspace/xcshareddata/swiftpm/Package.resolved') }}
      #     restore-keys: |
      #             ${{ runner.os }}-spm-
      - uses: irgaly/xcode-cache@v1
        with:
          key: xcode-cache-deriveddata-${{ github.workflow }}-${{ github.sha }}
          restore-keys: xcode-cache-deriveddata-${{ github.workflow }}-
      - name: Build
        run: xcodebuild -workspace TestApp/TestApp.xcodeproj/project.xcworkspace -scheme TestApp -destination 'platform=iOS Simulator,name=iPhone 15' -configuration Release -sdk iphoneos CODE_SIGNING_ALLOWED=NO

# test