name: Check PR code coverage

on:
  pull_request:

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - name: Build and Test
        # run: xcodebuild -workspace TestApp/TestApp.xcodeproj/project.xcworkspace -scheme TestApp -destination 'platform=iOS Simulator,name=iPhone 15' -configuration Debug -sdk iphoneos -enableCodeCoverage YES test CODE_SIGNING_ALLOWED=NO
        run: xcodebuild test -scheme TestApp -project TestApp/TestApp.xcodeproj -destination 'platform=iOS Simulator,name=iPhone 14,OS=16.0' -sdk iphonesimulator CODE_SIGNING_ALLOWED='NO' CODE_SIGNING_REQUIRED='NO'| xcpretty && exit ${PIPESTATUS[0]}
      - run: |
          gem install bundler
          gem install slather
      - run: slather coverage --arch x86_64 --scheme TestApp --workspace TestApp/TestApp.xcodeproj/project.xcworkspace --ignore '~/**/DerivedData/*' --ignore '../Library/Developer/*' --ignore '../../../Library/*' -x --output-directory TestApp/slather-report TestApp/TestApp.xcodeproj
