name: Check PR code coverage

on:
  pull_request:

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - name: Coveralls Parallel
        id: coveralls
        uses: coverallsapp/github-action@v2
        with:
          compare-ref: main
          file: TestApp/cobertura_25297.xml
          format: cobertura
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
      - name: Coveralls Output
        shell: bash
        run: |
          echo ${{ steps.coveralls.coveralls-api-result }}
      # - name: Build and Test
      #   run: xcodebuild -workspace TestApp/TestApp.xcodeproj/project.xcworkspace -scheme TestApp -destination 'platform=iOS Simulator,name=iPhone 15' -configuration Release -sdk iphoneos -enableCodeCoverage YES test
      #   # run: xcodebuild test -scheme TestApp -workspace TestApp/TestApp.xcodeproj/project.xcworkspace -destination 'platform=iOS Simulator,name=iPhone 15' -configuration Debug -sdk iphoneos | xcpretty && exit ${PIPESTATUS[0]}
      # - if: always()
      #   run: |
      #     gem install bundler
      #     gem install slather
      # - if: always()
      #   run: slather coverage --arch x86_64 --scheme TestApp --configuration Release --workspace TestApp/TestApp.xcodeproj/project.xcworkspace -x --output-directory TestApp/slather-report TestApp/TestApp.xcodeproj