name: Check PR code coverage

on:
  pull_request:

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - name: Check Ruby version
        run: ruby -v
      - name: Set Xcode version
        run: sudo xcode-select -switch /Applications/Xcode_15.0.1.app
      - name: Build and Test
        run: xcodebuild -workspace TestApp/TestApp.xcodeproj/project.xcworkspace -scheme TestApp -destination 'platform=iOS Simulator,name=iPhone 15' -configuration Release -sdk iphoneos -enableCodeCoverage YES CODE_SIGNING_ALLOWED=NO test
      - run: |
          gem install bundler
          gem install slather
      - run: slather coverage --arch x86_64 --scheme TestApp --configuration Release --workspace TestApp/TestApp.xcodeproj/project.xcworkspace --ignore '~/**/DerivedData/*' --ignore '../Library/Developer/*' --ignore '../../../Library/*' -x --output-directory TestApp/slather-report TestApp/TestApp.xcodeproj
        # --source-files 'TestApp/TestApp/SignUp.swift' --source-files 'TestApp/TestApp/SignUp1.swift' --source-files 'TestApp/TestApp/File1.swift'
      - uses: actions/upload-artifact@master
        with:
          name: slather-xml
          path: TestApp/slather-report
      - uses: 5monkeys/cobertura-action@master
        with:
          path: TestApp/slather-report/cobertura.xml
          minimum_coverage: 50
          only_changed_files: true
          skip_covered: false