name: SPM_Cache_Update

on:
  workflow_dispatch:
  schedule:
    - cron: '10 1 * * 1,3'
  # push:
  #   branches:
  #     - main


jobs:
  build:
    runs-on: macos-14
    steps:
      - name: Cleanup
        run: |
          gh extension install actions/gh-actions-cache

          echo "Fetching list of cache key"
          cacheKeysForPR=$(gh actions-cache list -R $REPO -B $BRANCH -L 100 | cut -f 1 )

          ## Setting this to not fail the workflow while deleting cache keys.
          set +e
          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR
          do
              gh actions-cache delete $cacheKey -R $REPO -B $BRANCH --confirm
          done
          echo "Done"
        env:
          GH_TOKEN: ${{ github.token }}
          REPO: ${{ github.repository }}
          BRANCH: main
      - uses: actions/checkout@v3
      - name: Set Xcode version
        run: sudo xcode-select -switch /Applications/Xcode_15.2.0.app
      - uses: irgaly/xcode-cache@v1
        with:
          key: xcode-cache-deriveddata-
          restore-keys: xcode-cache-deriveddata-
          restore-mtime-targets: |
            TestApp/**/*
          use-default-mtime-targets: true
          swiftpm-cache-key: xcode-cache-swiftpm-
          swiftpm-cache-restore-keys: xcode-cache-swiftpm-
      - name: Build
        run: xcodebuild -workspace TestApp/TestApp.xcodeproj/project.xcworkspace -scheme TestApp -destination 'platform=iOS Simulator,name=iPhone 15' -configuration Release -sdk iphoneos CODE_SIGNING_ALLOWED=NO