name: SPM_Cache_Update

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - name: Set Xcode version
        run: sudo xcode-select -switch /Applications/Xcode_15.2.0.app
      - uses: irgaly/xcode-cache@v1
        with:
          key: xcode-cache-deriveddata
          restore-keys: xcode-cache-deriveddata
          restore-mtime-targets: |
            TestApp/**/*
          use-default-mtime-targets: true
          swiftpm-cache-key: xcode-cache-swiftpm
          swiftpm-cache-restore-keys: xcode-cache-swiftpm
      - name: Build
        run: xcodebuild -workspace TestApp/TestApp.xcodeproj/project.xcworkspace -scheme TestApp -destination 'platform=iOS Simulator,name=iPhone 15' -configuration Release -sdk iphoneos CODE_SIGNING_ALLOWED=NO
